.di_bu {
  background-color: #333333;
  width: 100%;
  height: 520px;
  padding: 30px 60px;
  box-sizing: border-box;
}
.di_bu .shang {
  width: 100%;
  height: 218px;
  position: relative;
}
.di_bu .shang .lis1 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.di_bu .shang .lis1 ul {
  margin-top: 20px;
}
.di_bu .shang .lis1 ul li {
  margin: 10px 0;
  color: #fff;
  font-size: 16px;
}
.di_bu .shang .lis1 ul .li11 {
  margin-bottom: 10px;
  font-weight: 700;
}
.di_bu .shang .lis2 {
  position: absolute;
  top: 10px;
  left: 340px;
}
.di_bu .shang .lis2 ul {
  margin-top: 20px;
}
.di_bu .shang .lis2 ul li {
  margin: 10px 0;
  color: #fff;
  font-size: 16px;
}
.di_bu .shang .lis3 {
  position: absolute;
  top: 10px;
  left: 720px;
}
.di_bu .shang .lis3 ul {
  margin-top: 20px;
}
.di_bu .shang .lis3 ul li {
  margin: 10px 0;
  color: #fff;
  font-size: 16px;
}
.di_bu .shang .right {
  position: absolute;
  top: 10px;
  right: 130px;
}
.di_bu .shang .right .spp {
  color: #cccccc;
  margin: 20px 0;
}
.di_bu .shang .right .spp .sp1 {
  display: inline-block;
  width: 33px;
  height: 21px;
  background: url(../image/China.jpg);
}
.di_bu .shang .right p {
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.di_bu .shang .right .zu_c {
  width: 200px;
  height: 35px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  line-height: 35px;
  text-align: center;
}
.di_bu .shang .su_xian {
  width: 1px;
  height: 200px;
  border-left: 1px solid #fff;
  position: absolute;
  top: 10px;
  right: 440px;
}
.di_bu .xia_bu {
  position: relative;
}
.di_bu .xia_bu .xia1 {
  width: 156px;
  height: 40px;
  background: url(../image/007.PNG) no-repeat 0px 0px;
  margin-bottom: 30px;
  position: absolute;
  top: 50px;
  left: 600px;
}
.di_bu .xia_bu .heng_x {
  width: 500px;
  height: 1px;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 130px;
  left: 440px;
}
.di_bu .xia_bu .sou_suo {
  width: 50px;
  height: 50px;
  background: url(image/shousu.jpg) no-repeat 0px 0px;
  position: absolute;
  top: 105px;
  left: 960px;
}
.di_bu .xia_bu .logo22 {
  width: 152px;
  height: 75px;
  background: url(image/logo.bmp) no-repeat 0 0;
  position: absolute;
  top: 160px;
  left: 610px;
}
.di_bu .xia_bu .cook {
  position: absolute;
  top: 240px;
  left: 578px;
}
.di_bu .xia_bu .cook a {
  margin-right: 30px;
  color: #fff;
}
